.field {
  margin: 0 auto;
  background-color: lightblue;
  width: 460px;
  height: 156px;
  background-image: url(@img/field-bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

planet {
  position: relative;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  border-radius: 50%;

  box-shadow: inset 1px 2px 5px var(--light-color),
    inset -15px -18px 15px var(--shadow-color);
  animation: planetSpin-2 300s linear infinite;
}

planet:first-child {
  animation: planetSpin-1 300s linear infinite;
}

planet:last-child {
  animation: planetSpin-3 300s linear infinite;
}

planet::after {
  width: 120px;
  height: 120px;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}

moon {
  position: absolute;
  display: block;
  background-color: thistle;
  box-shadow: inset 2px 2px 5px var(--light-color), inset -8px -8px 5px var(--shadow-color);
  border-radius: 50%;
  animation: moonSpin 200s linear infinite;
}

@keyframes planetSpin-1 {
  from {
    background-position: 80px;
  }

  to {
    background-position: 100%;
  }
}

@keyframes planetSpin-2 {
  from {
    background-position: 160px;
  }

  to {
    background-position: calc(100% + 80px);
  }
}

@keyframes planetSpin-3 {
  from {
    background-position: 0px;
  }

  to {
    background-position: calc(100% - 80px);
  }
}

@keyframes moonSpin {
  from {
    background-position: 30px;
  }

  to {
    background-position: 100%;
  }
}

planet[data-move="true"] {
  animation-duration: 3s;
}

moon[data-move="true"] {
  animation-duration: 2s;
}