.field {
  margin: 0 auto;
  background-color: lightblue;
  width: 460px;
  height: 156px;
  background-image: url(@img/field-bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

planet {
  position: relative;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  border-radius: 50%;

  box-shadow: inset 1px 2px 5px var(--light-color),
    inset -15px -18px 15px var(--shadow-color);
  animation: planetSpin 300s linear infinite;
}

planet::after {
  width: 120px;
  height: 120px;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}

planet:hover {
  box-shadow: inset 1px 2px 5px var(--light-color),
    inset -15px -18px 15px var(--shadow-color),
    0px 0px 25px goldenrod;
}

planet:hover moon {
  box-shadow: inset 2px 2px 5px var(--light-color),
    inset -8px -8px 5px var(--shadow-color),
    0px 0px 25px goldenrod;
}

moon {
  position: absolute;
  display: block;
  background-color: thistle;
  box-shadow: inset 2px 2px 5px var(--light-color), inset -8px -8px 5px var(--shadow-color);
  border-radius: 50%;
  animation: moonSpin 200s linear infinite;
}

@keyframes planetSpin {
  from {
    background-position: 80px;
  }

  to {
    background-position: 100%;
  }
}

@keyframes moonSpin {
  from {
    background-position: 30px;
  }

  to {
    background-position: 100%;
  }
}