planet[data-shape="0"]::after {
  background-image: url(@img/shape-0.png);
}

planet[data-shape="1"]::after {
  background-image: url(@img/shape-1.png);
}

planet[data-shape="0"] {
  width: 80px;
  height: 80px;
}

planet[data-shape="1"] {
  transform: rotate(-5deg);
  width: 80px;
  height: 80px;
}

planet[data-shape="1"] moon {
  transform: rotate(-10deg);
  width: 30px;
  height: 30px;
  top: 33px;
  left: 42px;
}

planet[data-texture="1"] {
  background-image: url(@img/planet-1.jpg);
}

planet[data-texture="2"] {
  background-image: url(@img/planet-2.jpg);
}

planet[data-texture="3"] {
  background-image: url(@img/planet-3.jpg);
}

moon[data-texture="1"] {
  background-image: url(@img/moon-1.jpg);
}

moon[data-texture="2"] {
  background-image: url(@img/moon-2.jpg);
}