.game-field {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 4px;
  gap: 4px;
  background: var(--bg-dark-color);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
  box-shadow: inset 0px 2px 5px var(--text-color),
    0px 1px 2px var(--lightest-color);
  width: fit-content;
  margin: 20px auto;
}
