.game-field {
  display: grid;
  padding: 2px;
  gap: 2px;
  background: var(--bg-dark-color);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
  box-shadow: inset 0px 2px 5px var(--text-color),
    0px 1px 2px var(--lightest-color);
  width: fit-content;
  margin: 20px auto;

  &_size-10 {
    grid-template-columns: repeat(10, auto);
    border-radius: 8px;
    padding: 4px;
    gap: 4px;

    & .cell {
      width: 40px;
      height: 40px;
      border-radius: 8px;
    }
  }
  &_size-15 {
    grid-template-columns: repeat(15, auto);
    border-radius: 3px;
    padding: 3px;
    gap: 3px;
    & .cell {
      width: 26px;
      height: 26px;
      border-radius: 3px;
    }
  }
  &_size-25 {
    grid-template-columns: repeat(25, auto);
    border-radius: 3px;
    padding: 2px;
    gap: 2px;
    & .cell {
      width: 16px;
      height: 16px;
      border-radius: 2px;
    }
  }
}
