.info {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.info__list {
  display: flex;
  gap: 15px;
}

.info__buttons {
  display: flex;
  gap: 20px;
}

@media (min-width: 1480px) {

  .message {
    max-width: 444px;
  }
}