.header__wrapper {
  position: static;
  padding: 31px 40px 30px;
}

.logo__title,
.logo__subtitle,
.nav__link {
  color: var(--color-dark-l)
}

@media (min-width: 768px) {
  .nav__item:hover .nav__link {
    color: var(--color-dark-3xl);
  }

  .nav__item_active .nav__link {
    color: var(--color-dark-3xl);
  }

}

.open-menu .burger__icon::before,
.open-menu .burger__icon::after,
.open-menu .burger__middle-line {
  background-color: var(--color-primary);
  
}


.burger__icon::before,
.burger__icon::after,
.burger__middle-line {
  background-color: black;
}

@media (max-width: 860px) {
  .header__wrapper {
    padding: 31px 30px 30px;
  }
}

@media (max-width: 720px) {

  .header__wrapper {
    padding: 31px 20px 30px;
  }

  .nav {
    /* display: none; */
  }
}