.pets {
  background-color: var(--color-light-l);
  text-align: center;
}

.pets__wrapper {
  padding: 81px 0px 99px;
}

@media (max-width: 900px) {
  .pets__wrapper {
    padding: 81px 0px 76px;
  }
}

@media (max-width: 640px) {
  .pets__wrapper {
    padding: 42px 0px 42px;
    
  }
}

.pets__title {
  max-width: 403px;
  margin: 0 auto 59px;
}

@media (max-width: 1250px) {
  .pets__title {
    margin: 0 auto 29px;
  }
}

@media (max-width: 640px) {
  .pets__title {
    margin: 0 auto 41px;
  }
}

.pets__cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin-bottom: 60px;
  column-gap: min(40px, 3.2vw);
  row-gap: 30px;
  justify-content: center;
}

@media (max-width: 1250px) {
  .pets__cards {
    grid-template-columns: repeat(3, auto);
    column-gap: min(75px, ((17vw - 130px)));
  }
}

@media (max-width: 900px) {
  .pets__cards {
    grid-template-columns: repeat(2, auto);
    column-gap: min(40px, ((23vw - 130px)));
    grid-template-rows: repeat(3, auto);
    margin-bottom: 39px;
  }

  .pets__cards .card:nth-child(n + 7) {
    display: none;
  }
}

@media (max-width: 640px) {
  .pets__cards {
    grid-template-columns: repeat(1, auto);
    column-gap: min(40px, ((23vw - 130px)));
    margin-bottom: 42px;
  }

  .pets__cards .card:nth-child(n + 4) {
    display: none;
  }
}

.pagination {
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 20px;
  max-width: 341px;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .pagination {
    column-gap: 10px;
    max-width: initial;
    justify-content: center;
  }
}

.pagination__button {
  padding: 0px 0px 4px;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
