.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto 0 250px;
    grid-auto-flow: row dense;
}

.news__item {
    font-family: 'Manrope';
    overflow: hidden;
    padding: 22px;
    opacity: 0.85;
    transition: 0.3s;
}

.news__item:hover {
    opacity: 1;
    transition: 0.3s;
}

.news__meta {
    position: relative;
    overflow: hidden;
    background-color: var(--text-color);
}

.news__meta-photo {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}

.news__meta-details,
.news__meta-details ul {
    padding: 0;
    list-style: none;
}

.news__meta-details {
    position: absolute;
    bottom: -120%;
    left: 0;
    bottom: 0;
    margin: auto;
    font-family: 'Manrope';
    width: 100%;
    opacity: 0.5;
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 0.9rem;
    transform: translate(0, 120%);
    transition: transform 0.3s;
}

.news__meta:hover .news__meta-details {
    transform: translate(0, 0%);
    transition: transform 0.3s;
}

.news__description {
    font-family: 'Manrope';
    padding-top: 1rem;
}

.news__description-title {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
    font-family: 'Bebas Neue';
}

.news__description-source {
    font-size: 0.7rem;
    color: var(--text-color);
    padding: 0.5rem 0;
    margin: 0;
}

.news__description-content {
    font-size: 0.8rem;
    margin: 0;
}

.news__read-more a {
    color: var(--text-color);
    font-family: 'Bebas Neue';
    text-decoration: none;
    font-weight: 800;
}

.news__read-more a:hover {
    text-decoration: underline;
}

.news__item:nth-child(3n+7),
.news__item:nth-child(3n+8) {
    border-right: 1px solid var(--text-color);
}

.news__item:nth-child(5) {
    grid-area: 4/1/6/2;
    border-right: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.news__item:nth-child(6) {
    grid-area: 4/2/6/4;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0;
}

.news__item:nth-child(2) {
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
}

.news__item:nth-child(4) {
    position: relative;
    grid-area: 2/1/4/4;
    height: 500px;
    padding: 0;
}

.news__item:nth-child(1) .news__meta-photo,
.news__item:nth-child(2) .news__meta-photo,
.news__item:nth-child(3) .news__meta-photo {
    height: 100px;
}

.news__item:nth-child(4) .news__meta {
    height: 100%;
}

.news__item:nth-child(4) .news__meta-photo {
    height: 100%;
}

.news__item:nth-child(4) .news__description {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    padding: 7% 0 0 7%;
    opacity: 0.7;
}

.news__item:nth-child(4) .news__description-title,
.news__item:nth-child(4) .news__description-source,
.news__item:nth-child(4) .news__description-content,
.news__item:nth-child(4) .news__read-more {
    background-color: var(--bg-color);
    padding: 10px 5px;
    margin: 0;
}

.news__item:nth-child(6) .news__description-title {
    font-size: 4rem;
}

@media (max-width: 1024px) {
    .news {
        margin: 0 auto 0 205px;
    }

    .news__item:nth-child(1) {
        grid-area: 1/1/2/4;
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 0;
    }

    .news__item:nth-child(2) {
        grid-area: 2/1/3/3;
        border-left: none;
    }

    .news__item:nth-child(4) {
        grid-area: 3/1/5/4;
    }

    .news__item:nth-child(5) {
        grid-area: 5/1/7/2;
    }

    .news__item:nth-child(6) {
        grid-area: 5/2/7/4;
    }
}

@media (max-width: 868px) {
    .news {
        margin: 0 auto 0 205px;
        grid-template-columns: repeat(1, 1fr);
    }

    .news__item:nth-child(1n) {
        grid-area: unset;
        flex-direction: column;
        border: none;
        padding: 22px 22px 0 22px;
        height: initial;
    }

    .news__item:nth-child(1n) .news__meta-photo {
        height: 200px;
    }

    .news__item:nth-child(4) .news__meta {
        height: initial;
    }

    .news__item:nth-child(4) .news__description {
        position: initial;
        top: 0;
        left: 0;
        height: initial;
        width: initial;
        padding: 1rem 0 0 0;
        opacity: 1;
    }

    .news__item:nth-child(4) .news__description-title,
    .news__item:nth-child(4) .news__description-source,
    .news__item:nth-child(4) .news__description-content,
    .news__item:nth-child(4) .news__read-more {
        background-color: transparent;
        padding: 10px 5px;
        margin: 0;
    }

    .news__item:nth-child(6) .news__description-title {
        font-size: 1.7rem;
    }
}

@media (max-width: 560px) {
    .news {
        margin: 0;
    }

    .news__item {
        opacity: 1;
    }

    .news__item:nth-child(1n) .news__meta-photo {
        height: 100px;
    }

    .hide-sources .news {
        transform: translate(0px);
    }

    .open-menu .news {
        transform: translate(240px);
    }
}