.nav__list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 6px;
  justify-content: center;
}

.nav__btn {
  font-weight: 600;
  line-height: 160%;
}

@media (max-width: 768px) {
  .nav__list {
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .nav__btn {
    width: 80px;
  }
}

.nav__btn_done {
  color: #0bbc64;
}

.nav__btn_done::before {
  content: '✓';
}

.nav__btn_help {
  color: #2abccf;
}

.nav__btn_active {
  text-decoration: underline;
}