.nav__list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 6px;
  justify-content: center;
}

.nav__btn {
  font-weight: 600;
}

.nav__btn_done {
  color: #0bbc64;
}

.nav__btn_help {
  color: #2abccf;
}

.nav__btn_active {
  text-decoration: underline;
}