:root {
  --color-light-xl: #FFFFFF;
  --color-light-l: #F6F6F6;
  --color-light-s: #FAFAFA;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
}


@font-face {
  font-family: 'Arial';
  src: url(../../fonts/arial-regular.ttf) format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Arial';
  src: url(../../fonts/arial-narrow-italic.ttf) format('ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Georgia';
  src: url(../../fonts/georgia-regular.ttf) format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Georgia';
  src: url(../../fonts/georgia-italic.ttf) format('ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Georgia';
  src: url(../../fonts/georgia-bold.ttf) format('ttf');
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Georgia';
  cursor: url(../../img/icons/cursor.svg), default;
}



a,
button {
  cursor: url(../../img/icons/icon-pointer.svg), pointer;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 129%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-xl);
}

.button {
  display: inline-block;
  font-family: 'Georgia';
  padding: 14px 43px;
  color: var(--color-dark-3xl);
  line-height: 130%;
  font-size: 17px;
  letter-spacing: 0.06em;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 26px;
  cursor: url(../../img/icons/icon-pointer.svg), pointer;
  transition: 0.3s;

}

.button_primary {
  background-color: var(--color-primary);
  transition: 0.3s;

}

.button_round {
  width: 52px;
  height: 52px;
  padding: 14px 14px;
}

.button:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  transition: 0.3s;
}

.button_inactive {
  border-color: var(--color-dark-s);
  color: var(--color-dark-s);
}

.button_inactive:hover {
  background-color: transparent;
  border-color: var(--color-dark-s);
  cursor: url(../../img/icons/cursor.svg), default;
}

.modal-wrapper {
  position: fixed;
  top: 50%;
  display: none;
  left: 50%;
  transform: translate(calc(-50% - 52px), calc(-50% - 52px));
  margin: 52px;
  z-index: 10;
}

.modal_show {
  display: block;
}

.modal {
  background-color: var(--color-light-s);
  display: flex;
  border-radius: 9px;
  width: 900px;
  height: 500px;
}

@media (max-width: 1024px) {
  .modal {
    width: 630px;
    height: 350px;
  }
}

@media (max-width: 760px) {
  .modal {
    width: 240px;
    height: auto;
  }
}

.modal__img {
  display: block;
  width: 500px;
  height: 500px;
  border-radius: 9px 0 0 9px;
}

@media (max-width: 1024px) {
  .modal__img {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 760px) {
  .modal__img {
    display: none;
  }
}

.modal__content {
  font-family: 'Georgia';
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  padding: 50px 20px 0 30px;
}

@media (max-width: 1024px) {
  .modal__content {
    font-size: 13px;
    padding: 13px 5px 0 11px;
  }
}

.modal__title {
  font-family: 'Georgia';
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: black;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .modal__title {
    margin-bottom: 8px;
  }
}

@media (max-width: 760px) {
  .modal__title {
    text-align: center;
  }
}

.modal__subtitle {
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .modal__subtitle {
    margin-bottom: 21px;
  }
}

@media (max-width: 760px) {
  .modal__subtitle {
    text-align: center;
  }
}

.modal__desc {
  line-height: 115%;
}

@media (max-width: 1024px) {
  .modal__desc {
    line-height: 110%;
  }
}

.modal__list {
  margin-top: 40px;
}

@media (max-width: 1024px) {
  .modal__list {
    margin-top: 20px;
  }
}

@media (max-width: 760px) {
  .modal__list {
    margin-top: 23px;
  }
}

.modal__list-item {
  padding-left: 14px;
  margin-bottom: 11px;
  position: relative;
}

@media (max-width: 1024px) {
  .modal__list-item {
    margin-bottom: 9px;
    letter-spacing: 0.15em;
  }
}

.modal__list-item::before {
  position: absolute;
  top: 6px;
  left: 0;
  content: '';
  width: 4px;
  height: 4px;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.modal__list-item span {
  font-weight: 700;
}

.modal__button {
  position: absolute;
  top: -52px;
  right: -40px;
}

@media (max-width: 760px) {
  modal__button {
    right: -30px;
  }
}

.modal__button::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  border-radius: 1px;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #292929;

}

.modal__button::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  border-radius: 1px;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #292929;

}

.card {
  background-color: var(--color-light-s);
  width: 270px;
  border-radius: 9px;
  padding-bottom: 30px;
  text-align: center;
  cursor: url(../../img/icons/icon-pointer.svg), pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.00);

  transition: 0.3s;

}

.card:hover {
  transition: 0.3s;
  background-color: var(--color-light-xl);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card__img {
  width: 270px;
  height: 270px;
}

.card__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin: 25px 0 29px;
}

.card:hover .card__button {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  transition: 0.3s;
}

@media (max-width: 640px) {
  .title {
    font-size: 25px;
    line-height: 130%;
  }
}

.stop-scroll {
  overflow: hidden;
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
  font: none;
  display: none;
  z-index: 9;
}

.blackout_show {
  display: block;
}