:root {
  --color-light-xl: #FFFFFF;
  --color-light-l: #F6F6F6;
  --color-light-s: #FAFAFA;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
}


@font-face {
  font-family: 'Arial';
  src: url(../../fonts/arial-regular.ttf) format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Arial';
  src: url(../../fonts/arial-narrow-italic.ttf) format('ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Georgia';
  src: url(../../fonts/georgia-regular.ttf) format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Georgia';
  src: url(../../fonts/georgia-italic.ttf) format('ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Georgia';
  src: url(../../fonts/georgia-bold.ttf) format('ttf');
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Georgia';
  cursor: url(../../img/icons/cursor.svg), default;
}

a,
button {
  cursor: url(../../img/icons/icon-pointer.svg), pointer;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 129%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-xl);
}

.button {
  display: inline-block;
  font-family: 'Georgia';
  padding: 14px 43px;
  color: var(--color-dark-3xl);
  line-height: 130%;
  font-size: 17px;
  letter-spacing: 0.06em;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 26px;
  cursor: url(../../img/icons/icon-pointer.svg), pointer;
  transition: 0.3s;

}

.button_primary {
  background-color: var(--color-primary);
  transition: 0.3s;

}

.button_round {
  width: 52px;
  height: 52px;
  padding: 14px 14px;
}

.button:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  transition: 0.3s;
}

.button_inactive {
  border-color: var(--color-dark-s);
  color: var(--color-dark-s);
}

.button_inactive:hover {
  background-color: transparent;
  border-color: var(--color-dark-s);
  cursor: url(../../img/icons/cursor.svg), default;
}

.card {
  background-color: var(--color-light-s);
  width: 270px;
  border-radius: 9px;
  padding-bottom: 30px;
  text-align: center;
  cursor: url(../../img/icons/icon-pointer.svg), pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.00);

  transition: 0.3s;

}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s;
  background-color: var(--color-light-xl);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card__img {
  width: 270px;
  height: 270px;
}

.card__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin: 25px 0 29px;
}

.card:hover .card__button {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  transition: 0.3s;
}

@media (max-width: 640px) {
  .title {
    font-size: 25px;
    line-height: 130%;
  }
}