.header {
  position: relative;
}

.header__wrapper {
  position: absolute;
  width: 100%;
  padding: 31px 40px 0;
  display: flex;
  justify-content: space-between;

}

@media (max-width: 860px) {
  .header__wrapper {
    padding: 31px 30px 0;
  }
}

@media (max-width: 767px) {

  .header__wrapper {
    padding: 31px 20px 0;
  }
}

.logo:hover .logo__title {
  color: var(--color-primary-light)
}

.logo__title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: var(--color-primary);
  letter-spacing: 0.06em;
  transition: 0.3s
}

.logo__subtitle {
  padding: 9px 1px 0 0;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--color-light-xl);
  letter-spacing: 0.1em;
  text-align: right;
}

.burger {
  display: none;
  align-self: center;
  /* cursor: url(../../img/icons/icon-pointer.svg), pointer; */
  z-index: 10;
  background-color: transparent;
  border: none;
  transition: 0.3s;
}

.burger__icon {
  position: relative;
  width: 30px;
  height: 22px;
  margin-bottom: 2px;
}

.burger__icon::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  left: 0;
}

.burger__icon::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  position: absolute;
  bottom: 0;
  left: 0;
}

.burger__middle-line {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
}

@media (max-width: 767px) {

  .burger {
    display: block;
  }

  .open-menu .burger {
    position: fixed;
    right: 20px;
    transform: rotate(90deg);
    transition: 0.3s;
  }
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
  font: none;
  display: none;
}

.open-menu .blackout {
  display: block;
  
}

.nav__list {
  display: flex;
  padding-top: 15px;
}

.nav__item {
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 36px;
}

.nav__link {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
  transition: 0.3s;
}

.nav__item_active .nav__link::before {
  position: absolute;
  bottom: -3px;
  left: 1px;
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);

}

.nav__item:hover .nav__link {
  color: var(--color-light-s);
  transition: 0.3s;
}

.nav__link:active::before {
  position: absolute;
  bottom: -3px;
  left: 1px;
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
}

.nav__item_active .nav__link {
  color: var(--color-light-s);
}

@media (max-width: 767px) {

  .nav {
    position: fixed;
    top: 0;
    right: -150%;
    width: 320px;
    height: 100vh;
    background-color: var(--color-dark-3xl);
    z-index: 10;
    transition: 0.3s;
    /* display: none; */
  }

  .nav__list {
    flex-direction: column;
    margin-top: 249px;
    padding: 0;
    align-items: center;
    gap: 41px;
  }

  .nav__item {
    position: relative;
    width: fit-content;
  }

  .nav__item:not(:last-child) {
    margin: 0;
  }

  .nav__link {
    font-size: 32px;
    line-height: 160%;
  }
}

@media (max-width: 767px) {
  .open-menu .nav {
    /* display: block; */
    right: 0;
    transition: 0.3s;
  }
}