.body {
  font-family: "Quicksand";
  color: var(--title-shadow-color);
}

.title {
  color: var(--text-color);
  font-weight: bold;
  font-size: 44px;

  &::after {
    content: "Minesweeper";
    color: var(--title-shadow-color);
    opacity: 0.1;
  }
  &::before {
    content: "Minesweeper";
    color: var(--title-shadow-color);
    opacity: 0.1;
  }
}

.subtitle {
  color: var(--text-color);
  font-size: 16px;
  text-shadow: 0 1px 1px var(--lightest-color);
  font-weight: 600;
}

.message {
  font-size: 24px;
  text-align: center;
}

.last-games {
  color: var(--text-color);
  font-size: 16px;
  text-shadow: 0 1px 1px var(--lightest-color);
  font-weight: 600;
}

.cell {
  font-size: 14px;
  font-weight: 300;
  text-shadow: 0 1px 1px var(--lightest-color),
    -0.5px -1px 1px var(--text-color);
}
.cell[data-num="1"] {
  color: rgb(73, 142, 192);
}
.cell[data-num="2"] {
  color: rgb(75, 174, 103);
}
.cell[data-num="3"] {
  color: rgb(231, 117, 136);
}
.cell[data-num="4"] {
  color: rgb(150, 118, 237);
}
.cell[data-num="5"] {
  color: rgb(221, 137, 240);
}
.cell[data-num="6"] {
  color: rgb(54, 176, 176);
}
.cell[data-num="7"] {
  color: var(--darkest-color);
}
.cell[data-num="8"] {
  color: var(--backlight-color);
}
