.dark-theme {
  --backlight-color: #e0dee1;
  --lightest-color: #515051;
  --darkest-color: #0b0b0b;
  --darkest-shadow: #00000000;


  --bg-light-color: #3b393c;
  --bg-dark-color: #2f2f2f;

  --text-color: #000000;
  --title-shadow-color: #898785;
}
