.html-viewer {
  font-family: "Cutive Mono", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
}

.html-viewer div {
  padding-left: 20px;
  text-align: left;
}
