.html {
  min-height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.body {
  margin: 0;
  padding: 0;
  background: url(@img/bg.png),
    linear-gradient(180deg, var(--bg-light-color) 0%, var(--bg-dark-color) 100%);
}

@media (min-width: 1480px) {
  .main {
    display: flex;
    justify-content: center;
    gap: 1%;
  }
}
