.sources {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font: 300 2em 'Bebas Neue', sans-serif;
}

.source__item {
    background: none;
    font: inherit;
    line-height: 1;
    padding: 0.5em 1em;
    cursor: pointer;
}

@media (max-width: 560px) {
    .source__item {
        font-size: 1.3rem;
    }
}

.source__item-name {
    display: block;
    transform: scale(1);
    transition: transform 0.3s;
}

.source__item:hover .source__item-name,
.source__item:focus .source__item-name {
    display: block;
    transform: scale(1.2);
    transition: transform 0.3s;
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

.hide-sources .sources {
    position: fixed;
    top: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: end;
    justify-content: start;
    font-size: 1.1em;
    width: fit-content;
    border: none;
    height: 100vh;
    border-right: 1px solid var(--text-color);
}

.hide-sources .sources::-webkit-scrollbar {
    width: 3px;
}

.hide-sources .sources::-webkit-scrollbar-thumb {
    border-left: 1px solid var(--text-color);
}

@media (max-width: 560px) {
    .hide-sources .sources {
        position: absolute;
        transform: translate(-300px);
    }

    .open-menu .sources {
        transform: translate(0px);
    }
}