.start-screen {
  width: 100%;
  /* height: min(908px, max(83vw, 96vh)); */
  background: url(../../img/bg.png),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.start-screen__wrapper {
  padding: min(179px, 20%) 0 0 min(40px, 4%);
  display: flex;
  justify-content: space-between;
}

.start-screen__content {
  padding: min(166px, 13vw) 0 44px;
  width: min(464px, 40%);
  min-width: 208px;
}

.start-screen__title {
  max-width: 390px;
  color: var(--color-light-xl);
  font-size: 44px;
  letter-spacing: normal;
}

.start-screen__subtitle {
  padding: max(5px, 9%) 0 min(40px, 18.8%);
  color: var(--color-dark-s);
}

.start-screen__image {
  width: min(699px, 60%);
  height: min(729px, 57vw);
  background-image: url(../../img/start-screen-puppy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin: auto min(40px, 4%) 0 0;
}