body {
  --backlight-color: #ffffff;
  --lightest-color: #ffffff;
  --darkest-color: #2a2013;
  --darkest-shadow: #5b4e3e;

  --bg-light-color: #eae6df;
  --bg-dark-color: #d8cfc0;

  --text-color: #79654e;
  --title-shadow-color: #d6cfc7;
}