.start-screen {
  width: 100%;
  /* height: min(908px, max(83vw, 96vh)); */
  background: url(../../img/bg.png),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.start-screen__wrapper {
  padding: min(179px, 20%) 0 0 min(40px, 4%);
  display: flex;
  justify-content: space-between;
}

@media (max-width: 860px) {
  .start-screen__wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

@media (max-width: 560px) {
  .start-screen__wrapper {
    text-align: center;
  }
}

.start-screen__content {
  padding: min(166px, 13vw) 0 44px;
  width: min(464px, 40%);
  min-width: 208px;
}

@media (max-width: 860px) {
  .start-screen__content {
    padding: min(150px, 20vw) 0 44px;
    width: max(460px, 60%);
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 560px) {
  .start-screen__content {
    width: initial;
    padding: 149px 0 51px;
    align-items: center;
  }
}

.start-screen__title {
  max-width: 390px;
  color: var(--color-light-xl);
  font-size: 44px;
  letter-spacing: normal;
}

@media (max-width: 560px) {
  .start-screen__title {
    font-size: 25px;
    max-width: 225px;
    letter-spacing: 0.06em;
  }
}

.start-screen__subtitle {
  padding: max(5px, 9%) 0 min(40px, 18.8%);
  color: var(--color-dark-s);
}

@media (max-width: 860px) {
  .start-screen__subtitle {
    padding: max(5px, 9.4%) 0 min(40px, 18.8%);
  }
}

@media (max-width: 560px) {
  .start-screen__subtitle {
    padding: 42px 10px min(41px, 18.8%);
  }
}

.start-screen__image {
  width: min(699px, 60%);
  height: min(729px, 57vw);
  background-image: url(../../img/start-screen-puppy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin: auto min(40px, 4%) 0 0;
}

@media (max-width: 860px) {
  .start-screen__image {
    width: min(704px, 82vw);
    height: min(596px, 80vw);
    margin: max(53px, 7vw) 0 0 max(41px, 13vw);
  }
}

@media (max-width: 768px) {
  .start-screen__image {
    margin: max(53px, 7vw) 0px 0 min(75px, 18vw);
    background-position: right bottom;
  }
}

@media (max-width: 560px) {
  .start-screen__image {
    margin: max(55px, 16vw) 0 0 max(41px, 10vw);
    height: max(272px, 84vw);
  }
}

@media (max-width: 860px) {
  .start-screen__button {
    align-self: center;
  }
}