@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Annie+Use+Your+Telescope&family=Cutive+Mono&display=swap');

:root {
  --shadow-color: #1412237c;
  --light-color: #ffffff7c;
  --text-color: #4b5bab;
}

body {
  color: var(--text-color);
  text-align: center;
}

.btn {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-family: "Annie Use Your Telescope";
  font-size: 20px;
  cursor: pointer;
  transition: 0.1s;
}

.btn:hover {
  opacity: 0.7;
  transition: 0.1s;
}

.header {}

.title {
  color: var(--text-color);
  font-size: 48px;
  font-family: "Amatic SC";
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
}

@media (max-width: 768px) {

  .main {
    flex-direction: column;
    align-items: center
  }
}

.css-editor {}

.css-editor__input {}

.html-hover {
  font-weight: 600;
}

.planet-hover,
.planet-hover moon {
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.55),
    0px 0px 15px rgba(12, 66, 167, 0.8);
}