.header {
}
.main {
}
.html-viewer {
}
.field {
  background-color: lightblue;
  
}

plate {
  display: block;
  
  background-color: #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

apple {
  display: block;
  margin: 0 auto;
  background-color: lightpink;
  border-radius: 50%;
  width: 30px;
  height: 30px;}

.css-editor {
}
.css-editor__input {
}